
{% extends 'base.html' %}

{% block content %}
<ul style = "list-style:none;">
    {% for nm in all_collections %}
    <div style="
        border: 2px solid #000;
        width: 300px;
        padding: 30px;
        background: #fffaf2;
        margin-bottom: 20px;
        ">
        <li><p style="
            width: 300px;
            display:  inline-block;
            text-align:  center;
            ">{{nm[0]}}</p></li>
        <li><p style="
            width: 300px;
            display:  inline-block;
            text-align:  center;
            ">{{nm[1]}}</p></li>
        
        <li><form method="POST" action="/delete/{{ nm[1] }}"
            style="
            width: 300px;
            display:  inline-block;
            text-align:  center;
            ">
            {{ form.submit() }}
        </form></li>
    </div>
    
    {% endfor %}
</ul>

<div id ="message">
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</div>


<button onClick="runAJAX()">Ajax list of Collections</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    function runAJAX () {
        $.ajax({
               url: "/ajax",
               dataType: "json"
               }).done(function( data ) {
                       $.each(data.collection, function(index, value) {
                              $("<p>"+ value.name + "</p>").appendTo($('div[id=message]'))
                              });
                       });
    }
</script>

{% if not all_collections %}
There are no collections to show.
{% endif %}

{% endblock %}
