{% extends 'base.html' %}

{% block content %}
<h1>Home/Login</h1>


<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.user.label }} {{ form.user() }}<br>
    {{ form.face.label }} {{ form.face() }}<br>
    {{ form.submit() }}<br>
</form>

    If you do do not have an account
    <a href="{{ url_for('add_users') }}">Register</a><br>


<div>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</div>

{% endblock %}


